.Dashbord {
  width: 100%;
  height: 70vh;
  margin-top: 2rem;
  background-color: var(--colorPrimary);
}

.Dashbord .ant-layout-has-sider {
  height: auto;
}
.Dashbord .ant-layout-sider-children {
  background: #1a2639;
}
.Dashbord .ant-menu-item {
  margin-bottom: 2rem;
}
.Dashbord .ant-menu-item-selected {
  background-color: #4d8076;
  color: white;
}
.Dashbord .ant-menu {
  background-color: #1a2639;
  color: white;
}

.Dashbord .cardre {
  display: flex;
  gap: 1.5rem;
  padding-top: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Dashbord .ant-card-head {
  border-bottom: 1px solid #001529;
}
